body {
background-color: ghostwhite;


}

div {
display: flex;


}

.pai {

display: flex;
align-items: center;
margin: 5px;


}



.texto {

display: flex;
flex-direction: column;

}

.texto p {

max-width: 70%;
margin: 10px;

}
    

    .paidois {
    
    display: flex;
    align-items: center;
    
    
    
    }
    
    
    
    .textodois {
    
    display: flex;
    flex-direction: column;
    
    }
    
    .textodois p {
    max-width: 70%;
    
    }

    .imgteste {
width: 550px;
margin: 10px;
    }


