:root {
    --color1:#111111;
    --color2:#AF40FF;
    --color3:#1164ff;
    --color4:#fff;
    --color5:#5B42F3;
}

section, main {
    padding: 0 10%;
}

main {
    display: flex;
    height: 50vh;
    color:#fff;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1669023414162-5bb06bbff0ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #9FA7CB;
}

.main-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    font-size: 20px;
}


.section1 {
    padding:3em 0;
    height: 30em;
    background-image: url(img/website/portfolio.png);
    background-size: 40em;
    background-repeat: no-repeat;
    background-position: center;
}

.section1 h2 {
    text-align: center;
}

.section2 {
  height: 50em;
}

.section2 h2 {
  text-align: center;
  padding: 3% 0;
}

.benefits {
  display: flex;
}

.web-item {
  display: flex;
  height: 15em;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: solid red;

}


  /** -------------carrossel ------------- **/
  .container {
    position: relative;
    margin-top: 3%;
  }
  .container h1 {
    text-align: center;
    padding-bottom: 15px;
    
  }

  .control {
    list-style: none;
  }

  .control li {
    position: absolute;
    z-index: 99;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 12px 20px;
    border-radius: 50%;
    cursor: pointer;
  }

  .control li:hover {
    background: #000;
  }

  .control li.prev {
    left: 20px;
  }

  .control li.next {
    right: 20px;
  }

  .tns-nav {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .tns-nav button {
    height: 13px;
    width: 8px;
    background-color: #a5a5a5;
    border: none;
    margin-left: 7px;
    border-radius: 50%;
  }
  .tns-nav .tns-nav-active {
    background-color: black;
  }

@media (max-width:940px) {
    main {
        background-image:none;
    }

}